In [4]:
!pip install tensorflow
!pip install tensorflow_gpu

Requirement already satisfied: tensorflow in c:\users\surface\ananew\lib\site-packages (1.13.1)
Collecting tensorflow-estimator<1.14.0rc0,>=1.13.0 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/bb/48/13f49fc3fa0fdf916aa1419013bb8f2ad09674c275b4046d5ee669a46873/tensorflow_estimator-1.13.0-py2.py3-none-any.whl (367kB)
Requirement already satisfied: grpcio>=1.8.6 in c:\users\surface\ananew\lib\site-packages (from tensorflow) (1.22.0)
Collecting tensorboard<1.14.0,>=1.13.0 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/0f/39/bdd75b08a6fba41f098b6cb091b9e8c7a80e1b4d679a581a0ccd17b10373/tensorboard-1.13.1-py3-none-any.whl (3.2MB)
Requirement already satisfied: six>=1.10.0 in c:\users\surface\ananew\lib\site-packages (from tensorflow) (1.12.0)
Requirement already satisfied: protobuf>=3.6.1 in c:\users\surface\ananew\lib\site-packages (from tensorflow) (3.9.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\surface\ananew\lib\site-packages (from tensorflow) (1.17.0)
Requirement already satisfied: wheel>=0.26 in c:\users\surface\ananew\lib\site-packages (from tensorflow) (0.33.4)
Requirement already satisfied: gast>=0.2.0 in c:\users\surface\ananew\lib\site-packages (from tensorflow) (0.2.2)
Requirement already satisfied: absl-py>=0.1.6 in c:\users\surface\ananew\lib\site-packages (from tensorflow) (0.7.1)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\surface\ananew\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: keras-preprocessing>=1.0.5 in c:\users\surface\ananew\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: astor>=0.6.0 in c:\users\surface\ananew\lib\site-packages (from tensorflow) (0.8.0)
Requirement already satisfied: keras-applications>=1.0.6 in c:\users\surface\ananew\lib\site-packages (from tensorflow) (1.0.7)
Requirement already satisfied: mock>=2.0.0 in c:\users\surface\ananew\lib\site-packages (from tensorflow-estimator<1.14.0rc0,>=1.13.0->tensorflow) (2.0.0)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\surface\ananew\lib\site-packages (from tensorboard<1.14.0,>=1.13.0->tensorflow) (0.15.5)
Requirement already satisfied: markdown>=2.6.8 in c:\users\surface\ananew\lib\site-packages (from tensorboard<1.14.0,>=1.13.0->tensorflow) (3.1.1)
Requirement already satisfied: setuptools in c:\users\surface\ananew\lib\site-packages (from protobuf>=3.6.1->tensorflow) (41.0.1)
Requirement already satisfied: h5py in c:\users\surface\ananew\lib\site-packages (from keras-applications>=1.0.6->tensorflow) (2.9.0)
Requirement already satisfied: pbr>=0.11 in c:\users\surface\ananew\lib\site-packages (from mock>=2.0.0->tensorflow-estimator<1.14.0rc0,>=1.13.0->tensorflow) (5.1.3)
Installing collected packages: tensorflow-estimator, tensorboard
  Found existing installation: tensorflow-estimator 1.14.0
    Uninstalling tensorflow-estimator-1.14.0:
      Successfully uninstalled tensorflow-estimator-1.14.0
  Found existing installation: tensorboard 1.14.0
    Uninstalling tensorboard-1.14.0:
      Successfully uninstalled tensorboard-1.14.0
Successfully installed tensorboard-1.13.1 tensorflow-estimator-1.13.0

ERROR: tensorflow-gpu 1.14.0 has requirement tensorboard<1.15.0,>=1.14.0, but you'll have tensorboard 1.13.1 which is incompatible.
ERROR: tensorflow-gpu 1.14.0 has requirement tensorflow-estimator<1.15.0rc0,>=1.14.0rc0, but you'll have tensorflow-estimator 1.13.0 which is incompatible.

Requirement already satisfied: tensorflow_gpu in c:\users\surface\ananew\lib\site-packages (1.14.0)
Requirement already satisfied: google-pasta>=0.1.6 in c:\users\surface\ananew\lib\site-packages (from tensorflow_gpu) (0.1.7)
Requirement already satisfied: gast>=0.2.0 in c:\users\surface\ananew\lib\site-packages (from tensorflow_gpu) (0.2.2)
Requirement already satisfied: grpcio>=1.8.6 in c:\users\surface\ananew\lib\site-packages (from tensorflow_gpu) (1.22.0)
Collecting tensorboard<1.15.0,>=1.14.0 (from tensorflow_gpu)
  Using cached https://files.pythonhosted.org/packages/91/2d/2ed263449a078cd9c8a9ba50ebd50123adf1f8cfbea1492f9084169b89d9/tensorboard-1.14.0-py3-none-any.whl
Requirement already satisfied: astor>=0.6.0 in c:\users\surface\ananew\lib\site-packages (from tensorflow_gpu) (0.8.0)
Requirement already satisfied: numpy<2.0,>=1.14.5 in c:\users\surface\ananew\lib\site-packages (from tensorflow_gpu) (1.17.0)
Collecting tensorflow-estimator<1.15.0rc0,>=1.14.0rc0 (from tensorflow_gpu)
  Using cached https://files.pythonhosted.org/packages/3c/d5/21860a5b11caf0678fbc8319341b0ae21a07156911132e0e71bffed0510d/tensorflow_estimator-1.14.0-py2.py3-none-any.whl
Requirement already satisfied: wheel>=0.26 in c:\users\surface\ananew\lib\site-packages (from tensorflow_gpu) (0.33.4)
Requirement already satisfied: wrapt>=1.11.1 in c:\users\surface\ananew\lib\site-packages (from tensorflow_gpu) (1.11.2)
Requirement already satisfied: protobuf>=3.6.1 in c:\users\surface\ananew\lib\site-packages (from tensorflow_gpu) (3.9.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\surface\ananew\lib\site-packages (from tensorflow_gpu) (1.1.0)
Requirement already satisfied: keras-applications>=1.0.6 in c:\users\surface\ananew\lib\site-packages (from tensorflow_gpu) (1.0.7)
Requirement already satisfied: absl-py>=0.7.0 in c:\users\surface\ananew\lib\site-packages (from tensorflow_gpu) (0.7.1)
Requirement already satisfied: six>=1.10.0 in c:\users\surface\ananew\lib\site-packages (from tensorflow_gpu) (1.12.0)
Requirement already satisfied: keras-preprocessing>=1.0.5 in c:\users\surface\ananew\lib\site-packages (from tensorflow_gpu) (1.1.0)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\surface\ananew\lib\site-packages (from tensorboard<1.15.0,>=1.14.0->tensorflow_gpu) (0.15.5)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\surface\ananew\lib\site-packages (from tensorboard<1.15.0,>=1.14.0->tensorflow_gpu) (41.0.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\surface\ananew\lib\site-packages (from tensorboard<1.15.0,>=1.14.0->tensorflow_gpu) (3.1.1)
Requirement already satisfied: h5py in c:\users\surface\ananew\lib\site-packages (from keras-applications>=1.0.6->tensorflow_gpu) (2.9.0)
Installing collected packages: tensorboard, tensorflow-estimator
  Found existing installation: tensorboard 1.13.1
    Uninstalling tensorboard-1.13.1:
      Successfully uninstalled tensorboard-1.13.1
  Found existing installation: tensorflow-estimator 1.13.0
    Uninstalling tensorflow-estimator-1.13.0:
      Successfully uninstalled tensorflow-estimator-1.13.0
Successfully installed tensorboard-1.14.0 tensorflow-estimator-1.14.0

ERROR: tensorflow 1.13.1 has requirement tensorboard<1.14.0,>=1.13.0, but you'll have tensorboard 1.14.0 which is incompatible.
ERROR: tensorflow 1.13.1 has requirement tensorflow-estimator<1.14.0rc0,>=1.13.0, but you'll have tensorflow-estimator 1.14.0 which is incompatible.

In [34]:
!python -m pip install --upgrade pip

Collecting pip
  Downloading https://files.pythonhosted.org/packages/62/ca/94d32a6516ed197a491d17d46595ce58a83cbb2fca280414e57cd86b84dc/pip-19.2.1-py2.py3-none-any.whl (1.4MB)
Installing collected packages: pip
  Found existing installation: pip 9.0.1
    Uninstalling pip-9.0.1:
      Successfully uninstalled pip-9.0.1
Successfully installed pip-19.2.1

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import copy
from scipy.signal import lfilter, butter
import matplotlib.image as mpimg
from matplotlib import rcParams

from scipy import io
import seaborn as sns

from sklearn import metrics
from sklearn import linear_model
from sklearn.preprocessing import normalize
from sklearn.preprocessing import minmax_scale
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn import svm
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import GridSearchCV
import h5py
%matplotlib inline

# Local modules
import TEpython_Parallel

C:\Users\surface\ananew\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [ ]:
!pip uninstall tensorflow_estimator
!pip install tensorflow_estimator

In [5]:
from __future__ import print_function
import tensorflow as tf
from tensorflow.contrib import rnn
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, accuracy_score, recall_score, precision_score

AttributeError: module '_pywrap_tensorflow_internal' has no attribute 'TF_ListPhysicalDevices'

## Data Preprocess

<font color=pink>**Use data from 2014-05-01 to 2018-04-30**</font>

In [2]:
pathData = (r"./data")

In [3]:
# Read data table

discharge = pd.read_csv(pathData + '/'+ 'PH_ISCO_discharge_daily_cleaned.csv',header = 0,index_col = 'date',parse_dates = True, infer_datetime_format = True,low_memory=False)
discharge.column=["discharge"]
discharge.head(5)

C:\Users\surface\ananew\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  after removing the cwd from sys.path.

              value
date
2014-05-01  4.56823
2014-05-02  4.54378
2014-05-03  4.97784
2014-05-04  6.07829
2014-05-05  7.20931

In [4]:
kp_soilmoisture = pd.read_csv(pathData + '/'+ 'Kettle_Ponds_moisture_daily_cleaned_fake.csv',header = 0,index_col = 'date',parse_dates = True, infer_datetime_format = True,low_memory=False)
jf_soilmoisture = pd.read_csv(pathData + '/'+ 'Judd_Falls_moisture_daily_cleaned_fake.csv',header = 0,index_col = 'date',parse_dates = True, infer_datetime_format = True,low_memory=False)

In [5]:
joined_df = discharge.merge(kp_soilmoisture, how='outer', left_index=True, right_index=True)
joined_df = joined_df.merge(jf_soilmoisture, how='outer', left_index=True, right_index=True)

joined_df.columns = ['discharge', 'kp_soilmoisture', 'jf_soilmoisture']
joined_df.head(5)

            discharge  kp_soilmoisture  jf_soilmoisture
date
2014-05-01    4.56823         0.324472         0.356694
2014-05-02    4.54378         0.323333         0.356118
2014-05-03    4.97784         0.320021         0.372965
2014-05-04    6.07829         0.318597         0.388826
2014-05-05    7.20931         0.317035         0.392062

In [6]:
ncrs380_swe = pd.read_csv(pathData + '/'+ 'ncrs_380_SWE_daily_cleaned.csv',header = 0,index_col = 'date',parse_dates = True, infer_datetime_format = True,low_memory=False)
ncrs680_swe = pd.read_csv(pathData + '/'+ 'ncrs_680_SWE_daily_cleaned.csv',header = 0,index_col = 'date',parse_dates = True, infer_datetime_format = True,low_memory=False)

In [7]:
joined_df = joined_df.merge(ncrs380_swe, how='outer', left_index=True, right_index=True)
joined_df = joined_df.merge(ncrs680_swe, how='outer', left_index=True, right_index=True)
joined_df.columns = ['discharge', 'kp_soilmoisture', 'jf_soilmoisture', 'ncrs380_swe', 'ncrs680_swe']
joined_df.head(5)

,discharge,kp_soilmoisture,jf_soilmoisture,ncrs380_swe,ncrs680_swe
date,,,,,
2014-05-01,4.56823,0.324472,0.356694,26.493304,24.595667
2014-05-02,4.54378,0.323333,0.356118,25.347083,23.622000
2014-05-03,4.97784,0.320021,0.372965,23.018750,21.992167
2014-05-04,6.07829,0.318597,0.388826,20.415250,19.526250
2014-05-05,7.20931,0.317035,0.392062,17.959917,16.457083

In [8]:
ncrs380_rain = pd.read_csv(pathData + '/'+ 'ncrs_380_RAIN_daily_cleaned.csv',header = 0,index_col = 'date',parse_dates = True, infer_datetime_format = True,low_memory=False)
ncrs680_rain = pd.read_csv(pathData + '/'+ 'ncrs_680_RAIN_daily_cleaned.csv',header = 0,index_col = 'date',parse_dates = True, infer_datetime_format = True,low_memory=False)
ncrs680_rain.head(5)

             value_y
date
2014-05-01  0.000000
2014-05-02  0.000000
2014-05-03  0.010583
2014-05-04  0.000000
2014-05-05  0.052917

In [9]:
joined_df = joined_df.merge(ncrs380_rain, how='outer', left_index=True, right_index=True)
joined_df = joined_df.merge(ncrs680_rain, how='outer', left_index=True, right_index=True)
joined_df.columns = ['discharge', 'kp_soilmoisture', 'jf_soilmoisture', 'ncrs380_swe', 'ncrs680_swe', 'ncrs380_rain', 'ncrs680_rain']
joined_df.head(5)

,discharge,kp_soilmoisture,jf_soilmoisture,ncrs380_swe,ncrs680_swe,ncrs380_rain,ncrs680_rain
date,,,,,,,
2014-05-01,4.56823,0.324472,0.356694,26.493304,24.595667,0.00000,0.000000
2014-05-02,4.54378,0.323333,0.356118,25.347083,23.622000,0.00000,0.000000
2014-05-03,4.97784,0.320021,0.372965,23.018750,21.992167,0.00000,0.010583
2014-05-04,6.07829,0.318597,0.388826,20.415250,19.526250,0.00000,0.000000
2014-05-05,7.20931,0.317035,0.392062,17.959917,16.457083,0.03175,0.052917

<font color=red>**`ncrs380_swe` and `ncrs680_swe` not enough data??**</font>

In [10]:
joined_df.count()

discharge          1461
kp_soilmoisture    1614
jf_soilmoisture    1614
ncrs380_swe        1456
ncrs680_swe        1439
ncrs380_rain       1461
ncrs680_rain       1461
dtype: int64

In [11]:
nrcs_380_temperature_clearned = pd.read_csv(pathData + '/'+ 'nrcs_380_temperature_clearned.csv',header = 0,index_col = 'datetime',parse_dates = True, infer_datetime_format = True,low_memory=False)
nrcs_680_temperature_clearned = pd.read_csv(pathData + '/'+ 'nrcs_680_temperature_clearned.csv',header = 0,index_col = 'datetime',parse_dates = True, infer_datetime_format = True,low_memory=False)
print(nrcs_380_temperature_clearned.columns)
print(nrcs_680_temperature_clearned.columns)

Index(['Unnamed: 1', 'Unnamed: 2', 'airtemperature_380'], dtype='object')
Index(['Unnamed: 1', 'Unnamed: 2', 'value'], dtype='object')

In [12]:
nrcs_380_temperature_clearned = nrcs_380_temperature_clearned.drop('Unnamed: 1', 1)
nrcs_380_temperature_clearned = nrcs_380_temperature_clearned.drop('Unnamed: 2', 1)
nrcs_680_temperature_clearned = nrcs_680_temperature_clearned.drop('Unnamed: 1', 1)
nrcs_680_temperature_clearned = nrcs_680_temperature_clearned.drop('Unnamed: 2', 1)

In [13]:
#nrcs_380_temperature_clearned.head()
nrcs_680_temperature_clearned.head()

            value
datetime
2014-05-01   -2.1
2014-05-01   -3.6
2014-05-01   -4.2
2014-05-01   -5.4
2014-05-01   -6.9

In [14]:
# find mean group by day
nrcs_380_temperature_clearned = nrcs_380_temperature_clearned.resample('D').mean() # resamply by day/month
nrcs_380_temperature_clearned.head()

            airtemperature_380
datetime
2014-05-01           -0.739130
2014-05-02            4.900000
2014-05-03            7.933333
2014-05-04            9.608333
2014-05-05            8.925000

In [15]:
nrcs_680_temperature_clearned = nrcs_680_temperature_clearned.resample('D').mean() # resamply by day/month
nrcs_680_temperature_clearned.head()

               value
datetime
2014-05-01 -0.091667
2014-05-02  4.333333
2014-05-03  6.533333
2014-05-04  7.270833
2014-05-05  6.795833

In [16]:
joined_df = joined_df.merge(nrcs_380_temperature_clearned, how='outer', left_index=True, right_index=True)
joined_df = joined_df.merge(nrcs_680_temperature_clearned, how='outer', left_index=True, right_index=True)
joined_df.columns = ['discharge', 'kp_soilmoisture', 'jf_soilmoisture', 'ncrs380_swe', 'ncrs680_swe', 'ncrs380_rain', 'ncrs680_rain', 'nrcs380_temperature','nrcs680_temperature']
joined_df.head(5)

,discharge,kp_soilmoisture,jf_soilmoisture,ncrs380_swe,ncrs680_swe,ncrs380_rain,ncrs680_rain,nrcs380_temperature,nrcs680_temperature
2014-05-01,4.56823,0.324472,0.356694,26.493304,24.595667,0.00000,0.000000,-0.739130,-0.091667
2014-05-02,4.54378,0.323333,0.356118,25.347083,23.622000,0.00000,0.000000,4.900000,4.333333
2014-05-03,4.97784,0.320021,0.372965,23.018750,21.992167,0.00000,0.010583,7.933333,6.533333
2014-05-04,6.07829,0.318597,0.388826,20.415250,19.526250,0.00000,0.000000,9.608333,7.270833
2014-05-05,7.20931,0.317035,0.392062,17.959917,16.457083,0.03175,0.052917,8.925000,6.795833

In [17]:
Alldata = joined_df[0:1461]
Alldata = Alldata.fillna(value = 0)
Alldata.index.names = ['DateTime']
print(Alldata.shape)

(1461, 9)

In [20]:
Alldata

,discharge,kp_soilmoisture,jf_soilmoisture,ncrs380_swe,ncrs680_swe,ncrs380_rain,ncrs680_rain,nrcs380_temperature,nrcs680_temperature
DateTime,,,,,,,,,
2014-05-01,4.568230,0.324472,0.356694,26.493304,24.595667,0.000000e+00,0.000000e+00,-0.739130,-0.091667
2014-05-02,4.543780,0.323333,0.356118,25.347083,23.622000,0.000000e+00,0.000000e+00,4.900000,4.333333
2014-05-03,4.977840,0.320021,0.372965,23.018750,21.992167,0.000000e+00,1.058337e-02,7.933333,6.533333
2014-05-04,6.078290,0.318597,0.388826,20.415250,19.526250,0.000000e+00,0.000000e+00,9.608333,7.270833
2014-05-05,7.209310,0.317035,0.392062,17.959917,16.457083,3.174952e-02,5.291667e-02,8.925000,6.795833
2014-05-06,7.820670,0.316646,0.392493,15.546917,12.456583,1.058317e-02,6.350004e-02,7.395833,5.716667
2014-05-07,8.126350,0.317118,0.382181,13.631333,10.456333,2.010833e-01,1.799166e-01,4.241667,5.029167
2014-05-08,7.392720,0.315292,0.374437,12.467167,10.117667,1.283809e-01,8.466659e-02,-0.208333,1.120833
2014-05-09,6.261700,0.318486,0.381125,12.479131,9.038167,4.431213e-01,3.175032e-02,0.847826,1.825000
2014-05-10,5.656450,0.331688,0.385229,12.827000,8.837083,8.678330e-01,5.080003e-01,3.208333,3.629167
2014-05-11,5.589200,0.328208,0.385340,13.430250,8.487833,1.820333e+00,7.619994e-01,1.204167,2.095833
2014-05-12,5.320200,0.319937,0.375931,15.335250,9.207500,5.609150e-01,1.905005e-01,-2.070833,-1.229167
2014-05-13,4.849460,0.314840,0.362444,15.779750,8.805333,2.116675e-02,1.799162e-01,-2.970833,-1.233333
2014-05-14,4.556000,0.310708,0.353910,15.494000,7.503583,0.000000e+00,0.000000e+00,-1.337500,-1.012500
2014-05-15,4.183070,0.311076,0.351882,15.229417,6.731000,0.000000e+00,0.000000e+00,3.608333,3.545833
2014-05-16,4.146390,0.319611,0.361979,14.361583,5.471583,1.058337e-01,2.116675e-02,6.158333,4.695833
2014-05-17,4.439850,0.318028,0.363736,13.091583,3.852333,0.000000e+00,1.058336e-01,7.958333,7.604167
2014-05-18,5.687020,0.317333,0.363458,10.690087,2.180167,0.000000e+00,0.000000e+00,9.600000,7.791667
2014-05-19,6.634630,0.315035,0.360299,7.577667,1.926167,0.000000e+00,6.350014e-02,10.870833,8.970833
2014-05-20,7.942940,0.308201,0.354097,3.799417,1.894417,0.000000e+00,6.350004e-02,10.262500,8.325000
2014-05-21,9.532480,0.301278,0.347319,1.524000,1.460500,3.773191e-02,0.000000e+00,8.850000,7.191667
2014-05-22,9.226800,0.293785,0.341139,0.704273,1.344083,4.600984e-03,9.525016e-02,8.252174,7.462500
2014-05-23,9.532480,0.287424,0.336021,0.169333,1.227667,3.235474e-01,4.233339e-02,7.175000,8.133333
2014-05-24,9.777020,0.281153,0.331569,0.000000,1.111250,7.405597e-01,2.751668e-01,4.923810,6.520833
2014-05-25,10.449500,0.275194,0.327451,0.000000,1.111250,2.270600e-01,0.000000e+00,2.831818,4.387500
2014-05-26,8.982250,0.269931,0.324069,0.000000,1.100667,0.000000e+00,1.270000e-01,6.900000,7.541667
2014-05-27,9.654750,0.266069,0.320819,0.000000,1.121833,0.000000e+00,1.009292e-07,10.280000,9.991667
2014-05-28,11.733400,0.263771,0.319951,0.000000,1.100667,7.224432e-02,9.524996e-02,12.313044,10.466667
2014-05-29,13.995400,0.261264,0.320569,0.000000,1.132417,6.349982e-01,1.269995e-01,10.891667,9.137500
2014-05-30,15.157000,0.257806,0.319278,0.000000,1.248833,3.367459e-02,4.037000e-07,8.079167,8.587500
...,...,...,...,...,...,...,...,...,...
2018-04-01,0.527184,0.117597,0.280403,22.339905,18.820191,0.000000e+00,0.000000e+00,5.371429,6.819048
2018-04-02,0.631775,0.119208,0.345069,22.161500,18.774833,1.905007e-01,0.000000e+00,4.620833,3.716667
2018-04-03,0.670274,0.120931,0.396375,22.267333,18.626667,0.000000e+00,1.009292e-07,-2.395833,-1.045833
2018-04-04,0.568892,0.122354,0.385924,22.373166,18.838334,4.233349e-02,2.116655e-02,0.191667,-1.037500
2018-04-05,0.599692,0.123938,0.388271,22.373166,19.018250,1.164166e-01,2.539996e-01,1.558333,1.158333
2018-04-06,0.651025,0.125854,0.394375,22.542500,19.039417,6.667493e-01,7.302493e-01,1.195833,1.900000
2018-04-07,0.734440,0.127375,0.382104,23.791333,19.293417,2.233083e+00,2.465917e+00,2.541667,3.650000
2018-04-08,1.536514,0.128847,0.386917,25.474084,20.785667,5.820832e-01,2.540007e-01,0.950000,2.383333
2018-04-09,1.183601,0.132486,0.379986,25.685751,20.859750,2.010841e-01,0.000000e+00,-0.433333,0.908333
2018-04-10,0.741330,0.138750,0.386542,25.431750,20.775083,4.233329e-02,0.000000e+00,2.600000,1.479167
2018-04-11,0.864939,0.153292,0.411354,24.870833,20.679833,2.116695e-02,0.000000e+00,6.837500,5.050000
2018-04-12,0.962318,0.201750,0.404729,24.066500,20.193000,2.010823e-01,1.799174e-01,5.762500,3.854167
2018-04-13,1.243915,0.228410,0.391042,23.664333,19.981334,0.000000e+00,0.000000e+00,-4.850000,-3.133333
2018-04-14,1.024215,0.235049,0.387167,23.664333,19.960167,1.058327e-02,0.000000e+00,-2.650000,-1.383333
2018-04-15,1.031013,0.238549,0.407201,23.209250,19.907250,1.058327e-02,0.000000e+00,1.954167,1.841667
2018-04-16,1.087822,0.246861,0.407438,22.256750,19.378083,4.233309e-02,1.058337e-02,6.012500,4.808333
2018-04-17,1.139989,0.254972,0.397083,21.769917,18.732500,4.233400e-02,8.466689e-02,0.225000,2.012500
2018-04-18,1.192676,0.255812,0.389410,21.537084,18.531417,0.000000e+00,0.000000e+00,-1.550000,-1.100000
2018-04-19,1.088603,0.259299,0.405535,20.584583,18.203333,4.233330e-01,7.725828e-01,4.604167,3.458333
2018-04-20,1.211271,0.265618,0.399340,20.521083,17.864667,7.620001e-01,7.408339e-01,-0.325000,0.783333
2018-04-21,1.146923,0.268708,0.383875,21.230166,18.552584,1.009292e-07,0.000000e+00,-0.725000,0.445833
2018-04-22,1.128979,0.274528,0.394368,21.177249,18.309167,3.175002e-02,0.000000e+00,3.704167,3.212500
2018-04-23,1.513971,0.285819,0.416924,20.256500,17.441333,3.174992e-02,1.058347e-02,5.641667,5.508333
2018-04-24,1.744312,0.297660,0.411681,18.986500,16.287750,4.233370e-02,0.000000e+00,3.891667,4.783333
2018-04-25,1.691875,0.301708,0.414326,17.600083,15.229416,3.175002e-02,0.000000e+00,3.400000,3.550000
2018-04-26,2.020951,0.298549,0.417194,15.779750,13.843000,0.000000e+00,0.000000e+00,5.104167,3.575000
2018-04-27,2.308663,0.295826,0.420556,13.684250,12.329583,4.233299e-02,0.000000e+00,6.608333,5.100000
2018-04-28,2.694980,0.293361,0.418910,11.736917,10.424583,5.291687e-02,2.751663e-01,7.087500,5.508333
2018-04-29,2.965968,0.293687,0.408757,10.435166,8.255000,0.000000e+00,2.116675e-02,6.212500,6.491667
2018-04-30,2.995083,0.291042,0.386972,9.038167,6.318250,9.525016e-02,5.291657e-02,5.975000,4.629167

In [21]:
Alldata.to_csv('Alldata_add_temp.csv')

### Separate the loaded data into labels and features.

In [25]:
features = Alldata.iloc[:, 1:30]
labels = Alldata.iloc[:, 0]

In [23]:
features.head()

,kp_soilmoisture,jf_soilmoisture,ncrs380_swe,ncrs680_swe,ncrs380_rain,ncrs680_rain,nrcs380_temperature,nrcs680_temperature
DateTime,,,,,,,,
2014-05-01,0.324472,0.356694,26.493304,24.595667,0.00000,0.000000,-0.739130,-0.091667
2014-05-02,0.323333,0.356118,25.347083,23.622000,0.00000,0.000000,4.900000,4.333333
2014-05-03,0.320021,0.372965,23.018750,21.992167,0.00000,0.010583,7.933333,6.533333
2014-05-04,0.318597,0.388826,20.415250,19.526250,0.00000,0.000000,9.608333,7.270833
2014-05-05,0.317035,0.392062,17.959917,16.457083,0.03175,0.052917,8.925000,6.795833

In [27]:
labels.head()

DateTime
2014-05-01    4.56823
2014-05-02    4.54378
2014-05-03    4.97784
2014-05-04    6.07829
2014-05-05    7.20931
Name: discharge, dtype: float64

In [41]:
X_train,X_test,y_train,y_test = train_test_split(features, labels, test_size=0.2, shuffle=False, random_state=42)

NameError: name 'train_test_split' is not defined

## Not used PRISM attribute

In [10]:
PRISM_3_4 = pd.read_csv(pathData + '/PRISM_EastRiver_5YR_3_4.csv',
                    header = 0,index_col = 'TIME',parse_dates = True, infer_datetime_format = True)
PRISM_3_5 = pd.read_csv(pathData + '/PRISM_EastRiver_5YR_3_5.csv',
                    header = 0,index_col = 'TIME',parse_dates = True, infer_datetime_format = True)
PRISM_4_4 = pd.read_csv(pathData + '/PRISM_EastRiver_5YR_4_4.csv',
                    header = 0,index_col = 'TIME',parse_dates = True, infer_datetime_format = True)
PRISM_4_5 = pd.read_csv(pathData + '/PRISM_EastRiver_5YR_4_5.csv',
                    header = 0,index_col = 'TIME',parse_dates = True, infer_datetime_format = True)

In [11]:
PRISM_3_4.columns = PRISM_3_4.columns.str.replace('Unnamed: 0','date_int')
PRISM_3_5.columns = PRISM_3_5.columns.str.replace('Unnamed: 0','date_int')
PRISM_4_4.columns = PRISM_4_4.columns.str.replace('Unnamed: 0','date_int')
PRISM_4_5.columns = PRISM_4_5.columns.str.replace('Unnamed: 0','date_int')
PRISM_3_4 = PRISM_3_4[119:1580]
PRISM_3_5 = PRISM_3_5[119:1580]
PRISM_4_4 = PRISM_4_4[119:1580]
PRISM_4_5 = PRISM_4_5[119:1580]

In [12]:
PRISM_precp_34 = PRISM_3_4['PRECT']
PRISM_precp_35 = PRISM_3_5['PRECT']
PRISM_precp_44 = PRISM_4_4['PRECT']
PRISM_precp_45 = PRISM_4_5['PRECT']

In [13]:
PRISM = pd.read_csv(pathData + '/'+ 'PRISM.csv',header = 0,index_col = 'date',parse_dates = True, infer_datetime_format = True,low_memory=False)
PRISM.head(5)

            PRISM34  PRISM35  PRISM44  PRISM45
date
2014-05-01     5.09     8.09     9.75    10.52
2014-05-02     2.44     4.70     4.97     6.22
2014-05-03     0.40     1.74     4.50     5.76
2014-05-04     0.04     0.94     2.03     3.56
2014-05-05     0.00     0.00     0.00     0.00

In [14]:
joined_df = joined_df.merge(PRISM, how='outer', left_index=True, right_index=True)
#joined_df.columns = ['discharge', 'kp_soilmoisture', 'jf_soilmoisture', 'ncrs380_swe', 'ncrs680_swe', 'ncrs380_rain', 'ncrs680_rain', 'PRISM']
joined_df.head(5)

,discharge,kp_soilmoisture,jf_soilmoisture,ncrs380_swe,ncrs680_swe,ncrs380_rain,ncrs680_rain,PRISM34,PRISM35,PRISM44,PRISM45
date,,,,,,,,,,,
2014-05-01,4.56823,0.324472,0.356694,26.493304,24.595667,0.00000,0.000000,5.09,8.09,9.75,10.52
2014-05-02,4.54378,0.323333,0.356118,25.347083,23.622000,0.00000,0.000000,2.44,4.70,4.97,6.22
2014-05-03,4.97784,0.320021,0.372965,23.018750,21.992167,0.00000,0.010583,0.40,1.74,4.50,5.76
2014-05-04,6.07829,0.318597,0.388826,20.415250,19.526250,0.00000,0.000000,0.04,0.94,2.03,3.56
2014-05-05,7.20931,0.317035,0.392062,17.959917,16.457083,0.03175,0.052917,0.00,0.00,0.00,0.00

In [15]:
Alldata = joined_df[0:1461]
Alldata = Alldata.fillna(value = 0)
Alldata.index.names = ['DateTime']
print(Alldata.shape)

(1461, 11)

In [16]:
Alldata.head(5)

,discharge,kp_soilmoisture,jf_soilmoisture,ncrs380_swe,ncrs680_swe,ncrs380_rain,ncrs680_rain,PRISM34,PRISM35,PRISM44,PRISM45
DateTime,,,,,,,,,,,
2014-05-01,4.56823,0.324472,0.356694,26.493304,24.595667,0.00000,0.000000,5.09,8.09,9.75,10.52
2014-05-02,4.54378,0.323333,0.356118,25.347083,23.622000,0.00000,0.000000,2.44,4.70,4.97,6.22
2014-05-03,4.97784,0.320021,0.372965,23.018750,21.992167,0.00000,0.010583,0.40,1.74,4.50,5.76
2014-05-04,6.07829,0.318597,0.388826,20.415250,19.526250,0.00000,0.000000,0.04,0.94,2.03,3.56
2014-05-05,7.20931,0.317035,0.392062,17.959917,16.457083,0.03175,0.052917,0.00,0.00,0.00,0.00

In [18]:
Alldata.to_csv('Alldata.csv')